/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";


// We are going to create a 980px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count:  5;
$zen-gutter-width:  20px;


// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;


// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;


/*
 * Center the page.
 */

#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  // max-width: 1200px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
// See the note about $zen-auto-include-item-base above.

#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  @include zen-grid-item-base();
}

/*
 * Containers for grid items and flow items.
 */

#header,
#main,
#footer {
  @include zen-grid-container();
}

@media all and (max-width:1008px) and (min-width:929px) {

  #header-wrapper {
    height: 90px;

    #header {
      img {
        max-width: 240px;
      }

      ul.menu {
        margin-top: 30px;
      }
    }
  }

  #triptic {
    .audiojs-default {
      .audiojs {
        max-width: 280px;
          .scrubber {
            width: 100px;
          }
      }
      ol.audiojs-playlist {
        max-width: 280px;
      }
    }
  }
}

@media (max-width:928px) {
  #topbar {
    height: 40px;

    .region-topbar {
        
      #block-block-4 {
        float: none;
        text-align: center;
      }

      #block-simplenews-1 {
        width: 400px;
      }

      #block-block-5 {
        margin-right: 15px;
      }

    }

  }

  #header-wrapper {
    height: 70px;

    #header {
      img {
        max-width: 180px;
      }

      ul.menu {
        margin-top: 20px;
        font-size: 18px;
        li {
          margin: 0 10px;
        }
      }
    }
  }

  #slideshow {
    
    .views-field-title {
      font-size: 34px;
    }

    .field-name-field-datalocal {
      font-size: 18px;
    }

    //.field-name-field-fotos {
    //  font-size: 0;
    //  line-height: 0;
   // }

  }

  #triptic {

    .inner_triptic {
      width: auto;
    }

    #block-views-audio-block {
      display: none;
    }

    #block-views-videos-block {
      width: 64%;
      max-height: 270px;
      float: right;
      .views-field-title {
        top: -245px;
      }
    }

  }

  #main {
    #content {
      width: auto;
    }

    .item-list {
      li {
        width: 40%;
      }
    }
  }

}

@media (max-width:780px) {

  #header-wrapper {
    height: 60px;

    #header {
      img {
        max-width: 140px;
      }

      ul.menu {
        margin-top: 15px;
        font-size: 16px;
        li {
          margin: 0 8px;
        }
      }
    }
  }

  #slideshow {
    
    .views-field-title {
      font-size: 28px;
      max-width: 80%;
    }

    .field-name-field-datalocal {
      font-size: 14px;
      max-width: 80%;
    }

    //.field-name-field-fotos {
    //  font-size: 0;
    //  line-height: 0;
   // }

  }


}

@media (max-width:665px) {

  #header-wrapper {
    height: 60px;

    #header {
      img {
        max-width: 140px;
        float: none;
        text-align: center;
      }

      #menu-icon {
        display: inline-block;
        float: right;
        margin-top: 10px;
      }

      #header-nav:hover {
        ul.menu {
          display: inline-block;
        }
      }

      ul.menu {
        z-index: 1000;
        display: none;
        position: absolute;
        padding: 20px;
        background: white;
        border: 5px solid $bbbf-blue;
        right: 50px;
        top: 55px;
        width: 100px;
        border-radius: 4px 0 4px 4px;
        li {
          text-align: center;
          width: 100%;
          padding: 10px 0;
          margin: 0;
        }
      }
    }
  }
  
}

@media (max-width:628px) {

  #topbar {
    height: auto;

    .region-topbar {
       
      #block-block-4,#block-simplenews-1,#block-block-5 {
        float: none;
        text-align: center;
      }

      #block-simplenews-1 {
        margin: 10px auto;
        width: auto;
        min-width: 0;
      }

    }

  }

  #block-views-videos-block {
    max-height: 220px;
  }

}

@media (max-width:320px) {
  
}
