/**
 * @file
 * Block Styling
 */

@import "base";


.block { /* Block wrapper */
  // margin-bottom: 1.5em;

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
  }
}


#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
  position: absolute;
  right: 50%;
  margin: 0 -490px 0 0;
  ul.menu {
    margin: 45px 0 0 0;
    font: 20px/22px $title-font;
    li {
      list-style: none none;
      float: left;
      margin: 0 15px;
      a {
        display: block;
        padding: 0 0 5px 0;
        color: black;
        text-decoration: none;
      }
      a.active { 
        border-bottom: 4px solid black;
      }
    }
  }
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

// custom block
#views_slideshow_cycle_teaser_section_featured-block {
  margin: 0 auto;
  max-width: 100%;
  max-heigth: 442px;
  
  img {
    width: 100%;
    max-width: 100%;
  }
}

#block-views-fotos-block {
  padding: 0 15px;
  img { 
    width: 98px;
    float: left;
    margin: 0 4px 4px 0; 
    
  }
}

#block-views-videos-block {
  height: 306px;

  .views-field-title {
    color: white;
    z-index: 100;
    position: relative;
    top: -300px;
    left: 15px;
  }
}

#block-block-4 {
  span.bb {
    margin-left: 10px;
  }
}

#block-block-5 {
  
}

#block-simplenews-1 {
  width: 490px;
  h2 {
    font: inherit;
    display: block;
    float: left;
    margin-right: 10px;
  }
  form.simplenews-subscribe {
    .form-item-mail {
      margin: 0;
      float: left;
      label {
        font: inherit;
        float: left;
      }
      input.form-text {
        float: left;
        margin: 0 10px;
      }
    }
    input.form-submit {
      font: inherit;
      padding: 2px 8px;
      border: none;
      background-color: light-blue;
    }
  }
}

form#simplenews-confirm-add-form {
  input#edit-submit,a {
    padding: 5px;
    background: black;
    color: $light-blue;
    border: none;
    margin-right: 10px;
    text-decoration: none;
  }
}
