/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  }

  .content { /* Node's content wrapper */
    img {
      margin: 0 10px 10px 0;
    }
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
  margin: 10px 0 0 0;
  a {
    color: black;
    text-decoration: none;
    &:hover { color: $orange; }
    &:visited { color: black; }
  }
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}

.comment-wrapper {
  clear: both;
}

.node-banda.node-teaser {
  .field-name-title {
    h2 { 
      font: 24px/28px $title-font;
      margin: 0;
    }
  }
  .field-name-field-fotos {
    float: left;
    margin: 0 10px 10px 0;
  }

  .field-name-body {
    p { margin: 0; }
  }
}

.node-galeria.node-teaser {
  .field-name-title {
    h2 {
      font: 24px/28px $title-font;
      margin: 0;
    }
  }
  .field-name-field-foto {
    float: left;
    margin: 0 10px 10px 0;
  }
}

.node-article.node-teaser {
  margin: 10px 0 0 0;
  .field-name-title {
    h2 { 
      font: 24px/28px $title-font;
      margin: 0;
    }
  }
  .field-name-field-image {
    float: left;
    margin: 0 10px 10px 0;
  }

  .field-name-body {
    p { margin: 0; }
  }
}

.node-banda.view-mode-full {
  .group-left {
    width: 306px;
  }
  .group-right {
    padding: 0 0 0 15px;
    width: 649px;
    p {
      margin: 0 0 10px 0;
      text-align: justify;
    }
  }

  .field-name-field-fotos {
    margin-top: 15px;
  }

  .field-name-field-datalocal {
    font: 26px/30px $title-font;
    margin: 0 0 30px 0;
  }

  .field-name-field-discografia {
    background-color: $dark-blue;
    p {
      font-size: small;
    }
  }
  
  h3.field-label,h2.field-item {
    margin: 15px 0 10px 0;
  }
}

.node-galeria.view-mode-full {
  .field-name-field-foto {
    float: left;
    margin: 15px 15px 0 0;
  }
}
