/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#topbar {
  padding: 10px 0;
  height: 20px;
  background-color: black;
  color: white;
  font-family: $title-font;

  .region-topbar {
    width: 988px;
    margin: 0 auto;
    p { margin: 0; }
    .block {
      float: left;
      padding: 0 15px;
    }
  }
}

#header-wrapper {
  height: 105px;
  background-color: $light-blue;
}

#header {
  width: 988px;
  margin: 0 auto;
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  //margin: 0;
  padding: 10px 0 0 0;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  // clear: both; /* Clear the logo */
}

#slideshow {
  background-color: black;

  #block-views-featured-block {
    max-width: 1280px;
    margin: 0 auto;
  }

  .views-field-title {
    position: absolute;
    font: 39px/44px $title-font;
    left: 17.5%;
    top: 28.5%;
    text-shadow: #444 0 2px 2px;
    width: 310px;
    color: white;
    a {
      color: white;
      text-decoration: none;
    }
  }

  span#views_slideshow_controls_text_previous_featured-block {
    a {
      display: block;
      z-index: 100;
      width: 25px;
      height: 46px;
      margin: -23px 0 0;
      background: url(../images/btn-prev-next.png) no-repeat;
      position: absolute;
      left: 30px;
      top: 50%;
      cursor: pointer;
      text-indent: -999em;
    }
  }
  span#views_slideshow_controls_text_next_featured-block {
    a {
      display: block;
      z-index: 100;
      width: 25px;
      height: 46px;
      margin: -23px 0 0;
      background: url(../images/btn-prev-next.png) no-repeat;
      background-position: -25px 0;
      position: absolute;
      right: 30px;
      top: 50%;
      cursor: pointer;
      text-indent: -999em;
    }
  }
  span#views_slideshow_controls_text_pause_featured-block {
    a {
      z-index: 100;
      display: block;
      margin: 0 0 0 -220px;
      position: absolute;
      left: 50%;
      top: 0;
      width: 440px;
      height: 100%;
      text-indent: -999em;
    }
  }
}

#triptic {
  padding: 10px 0;
  height: 356px;
  background-color: $light-blue;
  .inner_triptic {
    width: 1008px;
    margin: 0 auto;
  }
  .block { 
    width: 306px;
    padding: 0 15px;
    float: left; 
    h2 { font: 36px/38px $title-font; }
  }
}

/*
 * Main (container for everything else)
 */

#main {
  clear: both;
  padding-top: 4px;
  background-color: $bbbf-blue;
}

/*
 * Content
 */

#content {
  width: 1008px;
  margin: 0 auto;
  padding: 0 15px;
  #page-title {
    font: 36px/38px $title-font;
    border-bottom: 2px double gray;
  }
    
  .view-id-novidades {
    .item-list {
      ul {
        list-style: none;
        padding: 0;
        li {
          display: inline-block;
          vertical-alignment: top;
          width: 474px;
          padding: 15px 0 15px 0;
          margin-right: 10px;
          img {
            float: left;
            margin-right: 15px;
          }
          .field-name-post-date {
            font-size: 13px;
            font-weight: bold;
            color: $orange;
          }
          .field-name-title {
            h2 { 
              margin: 0 0 20px 0;
              font: 24px/30px $title-font;
            }
          }
          .field-name-node-link {
            a {
              display: inline-block;
              border: 1px solid #939189;
              padding: 0 9px;
              color: #f4f2e7;
              background-color: $panel;
              text-decoration: none;
              font-variant: small-caps;
            }
          }
        }
      }
    }
  }

}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer-wrapper {
  background-color: black;
  color: white;
}

#footer {
  width: 988px;
  margin: 0 auto;
  padding-top: 20px;
  .block {
    float: left;
    width: 306px;
    h2 {
      font: 36px/38px $title-font;
    }
  }
}

/*
 * Page bottom
 */

#bottom-wrapper {
  background-color: black;
  color: white;
}

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
  width: 988px;
  margin: 0 auto;
  border-top: 1px solid white;
  font: 13px/16px Verdana;
  color: darkgray;
  a {
    color: white;
    font-weigth: bold;
    text-decoration: none;
  }
  p {
    margin: 4px 0 0;
  }
}

/*
 * Programa do Festival
 */
.node-6.node-page {
  .day,.bigday {
    width: 444px;
    float: left;
    clear: left;
    margin: 10px 0;
    background-color: $dark-blue;
    padding: 5px 15px;
  }
  #day28 { clear: none; }
  #day29 { float: right; clear: none; }
  .bigday {
    .daynumber {
      font: 49px/54px $title-font;
      text-shadow: #444 0 4px 4px;
      color: white;
    }
  }

  .day {
    .daynumber {
      font: 39px/39px $title-font;
      text-shadow: #444 0 4px 4px;
      color: white;
      float: left;
      margin: 0 10px 20px 0;
    }
  }

  .black { color: black; }
  .white { color: white; }

  .bigband {
    font: 34px/36px $title-font;
    margin: 10px 0 0 0;
  }

  .band {
    font: 24px/28px $title-font;
  }

  .label {
    font: 13px/16px $title-font;
  }

  .feat {
    font: 16px/18px $title-font;
  }

  a {
    text-decoration: none;
  }
}
