/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

.view-bilheteira {
  .views-row {
    background: $dark-blue;
    float: left;
    padding: 15px;
    margin: 0 15px 15px 0;
    width: 285px;
    height: 200px;
    .views-field-title {
      font: 22px/24px $title-font;
    }
  }
  .views-row-last {
    margin-right: 0;
  }

  input#edit-submit {
    padding: 5px;
    background: black;
    color: $light-blue;
    border: none;
  }
}
