/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

.view-bilheteira {
  .view-content {
    overflow: auto;
    width: 100%;
  }
  .views-row {
    background: $dark-blue;
    float: left;
    padding: 15px;
    margin: 15px 15px 15px 0;
    width: 260px;
    height: 200px;
    .views-field-title {
      font: 19px/22px $title-font;
    }
    .field-name-commerce-price {
      margin: 5px 0 0 0;
      font: 18px/22px $title-font;
      font-weight: bold;
      text-align: center;
    }
    
    ul.field-name-field-eventos {
      color: white;
      font: 16px/18px $title-font;
      list-style-type: none;
      padding: 0;
      margin: 10px 0;
      min-height: 100px;
      li {
        margin-bottom: 4px;
      }
    }
  }
  .views-row-last {
    width: 330px;
    margin-right: 0;
  }

  .views-field-add-to-cart-form {
    input.form-submit {
      padding: 5px;
      background: black;
      color: $light-blue;
      border: none;
    }

    .form-item-quantity {
      margin: 0 10px 0 0;
      float: left;
      label { display: none; }
      input {
        text-align: right;
        padding: 3px;
      }
    }

  }
}

#block-commerce-cart-cart {
  margin: 0 0 15px 0;
  font-size: 14px;
  table.views-table {
    width: 100%;
    font-weight: bold;
    tr {
      background-color: $dark-blue;
      border-bottom: 1px solid black;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }

  span.line-item-total-raw {
    font-weight: bold;
  }

  ul.links {
    a {
      display: inline-block;
      color: $light-blue;
      background-color: black;
      text-decoration: none;
      padding: 4px;
    }
  }
}

form#commerce-checkout-form-checkout {
  fieldset {
    border: none;
    background-color: $dark-blue;
    legend {
      position: relative;
      top: 15px;
      font: 16px/18px $title-font;
    }
  }
  table.views-table {
    thead > tr {
      background-color: none;
    }
    width: 100%;
    font-weight: bold;
    tbody > tr {
      background-color: $light-blue;
      border-bottom: 1px solid black;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }
  tr.component-type-commerce-price-formatted-amount {
    background-color: $light-blue;
  }

  span.button-operator {
    display: none;
  }

  input.form-submit {
    padding: 5px;
    background: black;
    color: $light-blue;
    border: none;
    margin-right: 10px;
  }
}

form#commerce-checkout-form-review {

  fieldset {
    border: none;
    background-color: $dark-blue;
    legend {
      position: relative;
      top: 15px;
      font: 16px/18px $title-font;
      margin: 0 0 15px 0;
    }
  }

  table.checkout-review {
    tr.pane-title,tr.component-type-commerce-price-formatted-amount {
      background-color: $dark-blue;
    }
    tr.pane-data {
      background-color: $light-blue;
    }
    td.views-field {
      background-color: $dark-blue;
    }
  }
  input.form-submit {
    padding: 5px;
    background: black;
    color: $light-blue;
    border: none;
    margin-right: 10px;
  }

  span.button-operator {
    display: none;
  }
}
