/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/* line 11, ../sass/nodes.scss */
.node {
  /* Node wrapper */
}
/* line 13, ../sass/nodes.scss */
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 17, ../sass/nodes.scss */
.node .node-title {
  /* Node title */
}
/* line 20, ../sass/nodes.scss */
.node .user-picture {
  /* The picture of the node author */
}
/* line 23, ../sass/nodes.scss */
.node .submitted {
  /* The "posted by" information */
}
/* line 26, ../sass/nodes.scss */
.node .content {
  /* Node's content wrapper */
}
/* line 27, ../sass/nodes.scss */
.node .content img {
  margin: 0 10px 10px 0;
}
/* line 32, ../sass/nodes.scss */
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}

/* line 37, ../sass/nodes.scss */
.node-promoted {
  /* A node that has been promoted to the front page */
}

/* line 40, ../sass/nodes.scss */
.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

/* line 43, ../sass/nodes.scss */
.node-by-viewer {
  /* A node created by the current user */
}

/* line 46, ../sass/nodes.scss */
.node-teaser {
  /* A node displayed as teaser */
  margin: 10px 0 0 0;
}
/* line 48, ../sass/nodes.scss */
.node-teaser a {
  color: black;
  text-decoration: none;
}
/* line 51, ../sass/nodes.scss */
.node-teaser a:hover {
  color: #dd5e00;
}
/* line 52, ../sass/nodes.scss */
.node-teaser a:visited {
  color: black;
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* line 62, ../sass/nodes.scss */
.node-page {
  /* Page content node */
}

/* line 65, ../sass/nodes.scss */
.node-article {
  /* Article content node */
}

/* line 68, ../sass/nodes.scss */
.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 71, ../sass/nodes.scss */
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

/* line 76, ../sass/nodes.scss */
.comment-wrapper {
  clear: both;
}

/* line 82, ../sass/nodes.scss */
.node-banda.node-teaser .field-name-title h2 {
  font: 24px/28px "CubanoRegular", sans-serif;
  margin: 0;
}
/* line 87, ../sass/nodes.scss */
.node-banda.node-teaser .field-name-field-fotos {
  float: left;
  margin: 0 10px 10px 0;
}
/* line 93, ../sass/nodes.scss */
.node-banda.node-teaser .field-name-body p {
  margin: 0;
}

/* line 99, ../sass/nodes.scss */
.node-galeria.node-teaser .field-name-title h2 {
  font: 24px/28px "CubanoRegular", sans-serif;
  margin: 0;
}
/* line 104, ../sass/nodes.scss */
.node-galeria.node-teaser .field-name-field-foto {
  float: left;
  margin: 0 10px 10px 0;
}

/* line 110, ../sass/nodes.scss */
.node-article.node-teaser {
  margin: 10px 0 0 0;
}
/* line 113, ../sass/nodes.scss */
.node-article.node-teaser .field-name-title h2 {
  font: 24px/28px "CubanoRegular", sans-serif;
  margin: 0;
}
/* line 118, ../sass/nodes.scss */
.node-article.node-teaser .field-name-field-image {
  float: left;
  margin: 0 10px 10px 0;
}
/* line 124, ../sass/nodes.scss */
.node-article.node-teaser .field-name-body p {
  margin: 0;
}

/* line 128, ../sass/nodes.scss */
.node-banda.view-mode-full {
  padding-bottom: 15px;
}
/* line 130, ../sass/nodes.scss */
.node-banda.view-mode-full .group-left {
  width: 306px;
}
/* line 133, ../sass/nodes.scss */
.node-banda.view-mode-full .group-right {
  padding: 0 0 0 15px;
  width: 649px;
}
/* line 136, ../sass/nodes.scss */
.node-banda.view-mode-full .group-right p {
  margin: 0 0 10px 0;
  text-align: justify;
}
/* line 145, ../sass/nodes.scss */
.node-banda.view-mode-full #mediafront_videos {
  box-shadow: none;
}
/* line 149, ../sass/nodes.scss */
.node-banda.view-mode-full .jwplayer-video {
  width: 306px;
  max-width: 306px;
  height: 200px;
}
/* line 156, ../sass/nodes.scss */
.node-banda.view-mode-full .field-name-title h2 {
  font: 26px/30px "CubanoRegular", sans-serif;
  margin: 0 0 30px 0;
}
/* line 162, ../sass/nodes.scss */
.node-banda.view-mode-full .field-name-field-datalocal {
  font: 20px/24px "CubanoRegular", sans-serif;
  margin: 0 0 30px 0;
}
/* line 169, ../sass/nodes.scss */
.node-banda.view-mode-full .field-name-field-discografia p {
  font-size: small;
}
/* line 174, ../sass/nodes.scss */
.node-banda.view-mode-full .field-name-field-discos, .node-banda.view-mode-full .field-name-field-composicao, .node-banda.view-mode-full .field-name-field-links {
  background-color: #9dc9e2;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 179, ../sass/nodes.scss */
.node-banda.view-mode-full .field-name-field-discos li, .node-banda.view-mode-full .field-name-field-composicao li, .node-banda.view-mode-full .field-name-field-links li {
  margin-bottom: 5px;
}
/* line 184, ../sass/nodes.scss */
.node-banda.view-mode-full h3.field-label, .node-banda.view-mode-full h2.field-item {
  margin: 15px 0 10px 0;
}

/* line 190, ../sass/nodes.scss */
.node-galeria.view-mode-full .field-name-field-foto {
  float: left;
  margin: 15px 15px 0 0;
}

/* line 196, ../sass/nodes.scss */
.node-article.view-mode-full {
  /* Article content node */
  padding-bottom: 15px;
}
/* line 198, ../sass/nodes.scss */
.node-article.view-mode-full .field-name-field-image {
  float: left;
  margin: 0px 15px 0 0;
}
