/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 31, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 35, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 49, ../sass/pages.scss */
#topbar {
  padding: 10px 0;
  height: 20px;
  background-color: black;
  color: white;
  font-family: "MailartRubberstamp", sans-serif;
}
/* line 56, ../sass/pages.scss */
#topbar .region-topbar {
  max-width: 988px;
  margin: 0 auto;
}
/* line 59, ../sass/pages.scss */
#topbar .region-topbar a {
  color: white;
  text-decoration: none;
}
/* line 62, ../sass/pages.scss */
#topbar .region-topbar a:visited {
  color: white;
}
/* line 65, ../sass/pages.scss */
#topbar .region-topbar a:hover {
  color: #39b549;
}
/* line 69, ../sass/pages.scss */
#topbar .region-topbar p {
  margin: 0;
}
/* line 70, ../sass/pages.scss */
#topbar .region-topbar .block {
  float: left;
  padding: 0 15px;
}
/* line 73, ../sass/pages.scss */
#topbar .region-topbar .block.last {
  float: right;
}

/* line 80, ../sass/pages.scss */
#header-wrapper {
  height: 105px;
  background-color: #a1c9e5;
}

/* line 85, ../sass/pages.scss */
#header {
  max-width: 988px;
  margin: 0 auto;
}

/* line 90, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  padding: 10px 0 0 0;
}
/* line 95, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 100, ../sass/pages.scss */
#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: black url(../images/menu-icon.png) center;
}
/* line 105, ../sass/pages.scss */
#menu-icon:hover {
  background-color: #a1c9e5;
  border-radius: 0 4px 4px 0;
}

/* line 111, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 115, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 121, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 127, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 132, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 137, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
}

/* line 141, ../sass/pages.scss */
#slideshow {
  background-color: black;
}
/* line 144, ../sass/pages.scss */
#slideshow #views_slideshow_cycle_teaser_section_featured-block {
  line-height: 0;
  font-size: 0;
}
/* line 149, ../sass/pages.scss */
#slideshow #block-views-featured-block {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 155, ../sass/pages.scss */
#slideshow .skin-default {
  position: relative;
}
/* line 159, ../sass/pages.scss */
#slideshow .views-field-title {
  position: absolute;
  font: 39px/44px "MailartRubberstamp", sans-serif;
  left: 12.5%;
  bottom: 100px;
  text-shadow: #444 0 2px 2px;
  color: white;
}
/* line 167, ../sass/pages.scss */
#slideshow .views-field-title a {
  display: block;
  color: white;
  text-decoration: none;
  z-index: 200;
}
/* line 175, ../sass/pages.scss */
#slideshow .field-name-field-datalocal {
  position: absolute;
  font: 24px/28px "MailartRubberstamp", sans-serif;
  left: 12.5%;
  bottom: 70px;
  text-shadow: #444 0 2px 2px;
  color: #39b549;
}
/* line 185, ../sass/pages.scss */
#slideshow .field-name-field-local {
  position: absolute;
  font: 18px/22px "MailartRubberstamp", sans-serif;
  left: 12.5%;
  bottom: 45px;
  text-shadow: #444 0 2px 2px;
  color: #39b549;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 196, ../sass/pages.scss */
#slideshow .field-name-field-entrada {
  position: absolute;
  font: 18px/22px "MailartRubberstamp", sans-serif;
  left: 12.5%;
  bottom: 25px;
  text-shadow: #444 0 2px 2px;
  color: #39b549;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 208, ../sass/pages.scss */
#slideshow span#views_slideshow_controls_text_previous_featured-block a {
  display: block;
  z-index: 100;
  width: 25px;
  height: 46px;
  margin: -23px 0 0;
  background: url(../images/btn-prev-next.png) no-repeat;
  position: absolute;
  left: 30px;
  top: 50%;
  cursor: pointer;
  text-indent: -999em;
}
/* line 223, ../sass/pages.scss */
#slideshow span#views_slideshow_controls_text_next_featured-block a {
  display: block;
  z-index: 100;
  width: 25px;
  height: 46px;
  margin: -23px 0 0;
  background: url(../images/btn-prev-next.png) no-repeat;
  background-position: -25px 0;
  position: absolute;
  right: 30px;
  top: 50%;
  cursor: pointer;
  text-indent: -999em;
}
/* line 239, ../sass/pages.scss */
#slideshow span#views_slideshow_controls_text_pause_featured-block a {
  z-index: 100;
  display: block;
  margin: 0 0 0 -160px;
  position: absolute;
  left: 50%;
  top: 0;
  width: 440px;
  height: 100%;
  text-indent: -999em;
}

/* line 253, ../sass/pages.scss */
#triptic {
  padding: 10px 0;
  height: 356px;
  background-color: #e8e6d5;
}
/* line 257, ../sass/pages.scss */
#triptic .inner_triptic {
  max-width: 1008px;
  margin: 0 auto;
}
/* line 261, ../sass/pages.scss */
#triptic .block {
  width: 31.33%;
  padding: 0 1%;
  float: left;
}
/* line 265, ../sass/pages.scss */
#triptic .block h2 {
  font: 36px/38px "MailartRubberstamp", sans-serif;
}
/* line 268, ../sass/pages.scss */
#triptic .media-player {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  -moz-box-shadow: none;
  /*no-important moz*/
  -webkit-box-shadow: none;
  /*no-important chrome*/
}
/* line 274, ../sass/pages.scss */
#triptic .osmplayer-default {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  -moz-box-shadow: none;
  /*no-important moz*/
  -webkit-box-shadow: none;
  /*no-important chrome*/
}
/* line 281, ../sass/pages.scss */
#triptic .audiojs-default .audiojs {
  max-width: 306px;
}
/* line 283, ../sass/pages.scss */
#triptic .audiojs-default .audiojs .scrubber {
  width: 126px;
}
/* line 287, ../sass/pages.scss */
#triptic .audiojs-default ol.audiojs-playlist {
  max-width: 306px;
}

/*
 * Main (container for everything else)
 */
/* line 297, ../sass/pages.scss */
#main {
  clear: both;
  padding-top: 4px;
  background-color: #e8e6d5;
}

/*
 * Content
 */
/* line 307, ../sass/pages.scss */
#content {
  max-width: 1008px;
  margin: 0 auto;
  padding: 0 1.5%;
}
/* line 311, ../sass/pages.scss */
#content #page-title {
  display: none;
  font: 36px/38px "MailartRubberstamp", sans-serif;
  border-bottom: 2px double gray;
}
/* line 318, ../sass/pages.scss */
#content .view-id-novidades .item-list {
  padding: 0;
}
/* line 320, ../sass/pages.scss */
#content .view-id-novidades .item-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 324, ../sass/pages.scss */
#content .view-id-novidades .item-list ul li {
  float: left;
  vertical-alignment: top;
  width: 50%;
  padding: 15px 0 15px 0;
  margin: 0;
}
/* line 331, ../sass/pages.scss */
#content .view-id-novidades .item-list ul li img {
  float: left;
  margin-right: 15px;
}
/* line 335, ../sass/pages.scss */
#content .view-id-novidades .item-list ul li .field-name-post-date {
  font-size: 13px;
  font-weight: bold;
  color: #39b549;
}
/* line 341, ../sass/pages.scss */
#content .view-id-novidades .item-list ul li .field-name-title h2 {
  margin: 0 0 20px 0;
  font: 24px/30px "MailartRubberstamp", sans-serif;
}
/* line 347, ../sass/pages.scss */
#content .view-id-novidades .item-list ul li .field-name-node-link a {
  display: inline-block;
  padding: 0 9px;
  color: #a1c9e5;
  background-color: black;
  text-decoration: none;
  font-variant: small-caps;
}

/* line 366, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 367, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 371, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 384, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 388, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 392, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 396, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 399, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 405, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 409, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 414, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 417, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 421, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 425, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 428, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 431, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 434, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 437, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 441, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 447, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 451, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 454, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 459, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 462, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 489, ../sass/pages.scss */
#footer-wrapper {
  background-color: black;
  color: white;
}

/* line 494, ../sass/pages.scss */
#footer {
  max-width: 988px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}
/* line 498, ../sass/pages.scss */
#footer .block {
  padding: 0 0.5%;
  color: white;
  float: left;
  width: 32.33%;
}
/* line 503, ../sass/pages.scss */
#footer .block h2 {
  font: 32px/34px "MailartRubberstamp", sans-serif;
}
/* line 506, ../sass/pages.scss */
#footer .block p, #footer .block .form-item {
  margin: 8px 0;
}
/* line 509, ../sass/pages.scss */
#footer .block a {
  color: white;
}

/*
 * Page bottom
 */
/* line 517, ../sass/pages.scss */
#bottom-wrapper {
  background-color: black;
  color: white;
}

/* line 522, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
  max-width: 988px;
  margin: 0 auto;
  border-top: 1px solid white;
  font: 13px/16px Verdana;
  color: darkgray;
}
/* line 528, ../sass/pages.scss */
.region-bottom a {
  color: white;
  font-weigth: bold;
  text-decoration: none;
}
/* line 533, ../sass/pages.scss */
.region-bottom p {
  margin: 4px 0 0;
}

/*
 * Programa do Festival
 */
/* line 542, ../sass/pages.scss */
.node-6 .day, .node-6 .bigday, .node-45 .day, .node-45 .bigday, .node-46 .day, .node-46 .bigday, .node-53 .day, .node-53 .bigday, .node-54 .day, .node-54 .bigday {
  width: 444px;
  float: left;
  clear: left;
  margin: 10px 0;
  background-color: #92b4bf;
  padding: 5px 15px;
}
/* line 549, ../sass/pages.scss */
.node-6 .day a, .node-6 .bigday a, .node-45 .day a, .node-45 .bigday a, .node-46 .day a, .node-46 .bigday a, .node-53 .day a, .node-53 .bigday a, .node-54 .day a, .node-54 .bigday a {
  color: inherit;
}
/* line 551, ../sass/pages.scss */
.node-6 .day a:visited, .node-6 .bigday a:visited, .node-45 .day a:visited, .node-45 .bigday a:visited, .node-46 .day a:visited, .node-46 .bigday a:visited, .node-53 .day a:visited, .node-53 .bigday a:visited, .node-54 .day a:visited, .node-54 .bigday a:visited {
  color: inherit;
}
/* line 552, ../sass/pages.scss */
.node-6 .day a:hover, .node-6 .bigday a:hover, .node-45 .day a:hover, .node-45 .bigday a:hover, .node-46 .day a:hover, .node-46 .bigday a:hover, .node-53 .day a:hover, .node-53 .bigday a:hover, .node-54 .day a:hover, .node-54 .bigday a:hover {
  color: #39b549;
}
/* line 555, ../sass/pages.scss */
.node-6 #day28, .node-45 #day28, .node-46 #day28, .node-53 #day28, .node-54 #day28 {
  clear: none;
}
/* line 556, ../sass/pages.scss */
.node-6 #day29, .node-45 #day29, .node-46 #day29, .node-53 #day29, .node-54 #day29 {
  float: right;
  clear: none;
}
/* line 558, ../sass/pages.scss */
.node-6 .bigday .daynumber, .node-45 .bigday .daynumber, .node-46 .bigday .daynumber, .node-53 .bigday .daynumber, .node-54 .bigday .daynumber {
  font: 49px/54px "MailartRubberstamp", sans-serif;
  color: white;
}
/* line 566, ../sass/pages.scss */
.node-6 .day .daynumber, .node-45 .day .daynumber, .node-46 .day .daynumber, .node-53 .day .daynumber, .node-54 .day .daynumber {
  font: 39px/39px "MailartRubberstamp", sans-serif;
  color: white;
  float: left;
  margin: 0 10px 20px 0;
}
/* line 575, ../sass/pages.scss */
.node-6 .black, .node-45 .black, .node-46 .black, .node-53 .black, .node-54 .black {
  color: black;
}
/* line 576, ../sass/pages.scss */
.node-6 .white, .node-45 .white, .node-46 .white, .node-53 .white, .node-54 .white {
  color: white;
}
/* line 578, ../sass/pages.scss */
.node-6 .bigband, .node-45 .bigband, .node-46 .bigband, .node-53 .bigband, .node-54 .bigband {
  font: 34px/36px "MailartRubberstamp", sans-serif;
  margin: 10px 0 0 0;
}
/* line 583, ../sass/pages.scss */
.node-6 .band, .node-45 .band, .node-46 .band, .node-53 .band, .node-54 .band {
  font: 24px/28px "MailartRubberstamp", sans-serif;
}
/* line 587, ../sass/pages.scss */
.node-6 .label, .node-45 .label, .node-46 .label, .node-53 .label, .node-54 .label {
  font: 13px/16px "MailartRubberstamp", sans-serif;
}
/* line 591, ../sass/pages.scss */
.node-6 .feat, .node-45 .feat, .node-46 .feat, .node-53 .feat, .node-54 .feat {
  font: 16px/18px "MailartRubberstamp", sans-serif;
}
/* line 595, ../sass/pages.scss */
.node-6 a, .node-45 a, .node-46 a, .node-53 a, .node-54 a {
  text-decoration: none;
}

/* caixas nas paginas de conteudo */
/* line 601, ../sass/pages.scss */
div.box {
  width: 444px;
  float: left;
  margin: 10px 0;
  background-color: #92b4bf;
  padding: 15px 15px;
  margin: 15px 15px 15px 0;
  font: 22px/24px "MailartRubberstamp", sans-serif;
  color: white;
}
/* line 610, ../sass/pages.scss */
div.box a {
  color: inherit;
  text-decoration: none;
}
/* line 613, ../sass/pages.scss */
div.box a:visited {
  color: inherit;
}
/* line 614, ../sass/pages.scss */
div.box a:hover {
  color: #39b549;
}
