/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 31, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 35, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 49, ../sass/pages.scss */
#topbar {
  padding: 10px 0;
  height: 20px;
  background-color: black;
  color: white;
  font-family: "CubanoRegular", sans-serif;
}
/* line 56, ../sass/pages.scss */
#topbar .region-topbar {
  width: 988px;
  margin: 0 auto;
}
/* line 59, ../sass/pages.scss */
#topbar .region-topbar p {
  margin: 0;
}
/* line 60, ../sass/pages.scss */
#topbar .region-topbar .block {
  float: left;
  padding: 0 15px;
}

/* line 67, ../sass/pages.scss */
#header-wrapper {
  height: 105px;
  background-color: #e9f5fc;
}

/* line 72, ../sass/pages.scss */
#header {
  width: 988px;
  margin: 0 auto;
}

/* line 77, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  padding: 10px 0 0 0;
}
/* line 82, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 87, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 91, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 97, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 103, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 108, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 113, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
}

/* line 117, ../sass/pages.scss */
#slideshow {
  background-color: black;
}
/* line 120, ../sass/pages.scss */
#slideshow #block-views-featured-block {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 125, ../sass/pages.scss */
#slideshow .views-field-title {
  position: absolute;
  font: 39px/44px "CubanoRegular", sans-serif;
  left: 17.5%;
  top: 28.5%;
  text-shadow: #444 0 2px 2px;
  width: 310px;
  color: white;
}
/* line 133, ../sass/pages.scss */
#slideshow .views-field-title a {
  display: block;
  color: white;
  text-decoration: none;
  z-index: 200;
}
/* line 142, ../sass/pages.scss */
#slideshow span#views_slideshow_controls_text_previous_featured-block a {
  display: block;
  z-index: 100;
  width: 25px;
  height: 46px;
  margin: -23px 0 0;
  background: url(../images/btn-prev-next.png) no-repeat;
  position: absolute;
  left: 30px;
  top: 50%;
  cursor: pointer;
  text-indent: -999em;
}
/* line 157, ../sass/pages.scss */
#slideshow span#views_slideshow_controls_text_next_featured-block a {
  display: block;
  z-index: 100;
  width: 25px;
  height: 46px;
  margin: -23px 0 0;
  background: url(../images/btn-prev-next.png) no-repeat;
  background-position: -25px 0;
  position: absolute;
  right: 30px;
  top: 50%;
  cursor: pointer;
  text-indent: -999em;
}
/* line 173, ../sass/pages.scss */
#slideshow span#views_slideshow_controls_text_pause_featured-block a {
  z-index: 100;
  display: block;
  margin: 0 0 0 -160px;
  position: absolute;
  left: 50%;
  top: 0;
  width: 440px;
  height: 100%;
  text-indent: -999em;
}

/* line 187, ../sass/pages.scss */
#triptic {
  padding: 10px 0;
  height: 356px;
  background-color: #e9f5fc;
}
/* line 191, ../sass/pages.scss */
#triptic .inner_triptic {
  width: 1008px;
  margin: 0 auto;
}
/* line 195, ../sass/pages.scss */
#triptic .block {
  width: 306px;
  padding: 0 15px;
  float: left;
}
/* line 199, ../sass/pages.scss */
#triptic .block h2 {
  font: 36px/38px "CubanoRegular", sans-serif;
}
/* line 202, ../sass/pages.scss */
#triptic .media-player {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  -moz-box-shadow: none;
  /*no-important moz*/
  -webkit-box-shadow: none;
  /*no-important chrome*/
}
/* line 208, ../sass/pages.scss */
#triptic .osmplayer-default {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  -moz-box-shadow: none;
  /*no-important moz*/
  -webkit-box-shadow: none;
  /*no-important chrome*/
}

/*
 * Main (container for everything else)
 */
/* line 219, ../sass/pages.scss */
#main {
  clear: both;
  padding-top: 4px;
  background-color: #a6d9f3;
}

/*
 * Content
 */
/* line 229, ../sass/pages.scss */
#content {
  width: 1008px;
  margin: 0 auto;
  padding: 0 15px;
}
/* line 233, ../sass/pages.scss */
#content #page-title {
  display: none;
  font: 36px/38px "CubanoRegular", sans-serif;
  border-bottom: 2px double gray;
}
/* line 241, ../sass/pages.scss */
#content .view-id-novidades .item-list ul {
  list-style: none;
  padding: 0;
}
/* line 244, ../sass/pages.scss */
#content .view-id-novidades .item-list ul li {
  display: inline-block;
  vertical-alignment: top;
  width: 474px;
  padding: 15px 0 15px 0;
  margin-right: 10px;
}
/* line 250, ../sass/pages.scss */
#content .view-id-novidades .item-list ul li img {
  float: left;
  margin-right: 15px;
}
/* line 254, ../sass/pages.scss */
#content .view-id-novidades .item-list ul li .field-name-post-date {
  font-size: 13px;
  font-weight: bold;
  color: #dd5e00;
}
/* line 260, ../sass/pages.scss */
#content .view-id-novidades .item-list ul li .field-name-title h2 {
  margin: 0 0 20px 0;
  font: 24px/30px "CubanoRegular", sans-serif;
}
/* line 266, ../sass/pages.scss */
#content .view-id-novidades .item-list ul li .field-name-node-link a {
  display: inline-block;
  padding: 0 9px;
  color: #a6d9f3;
  background-color: black;
  text-decoration: none;
  font-variant: small-caps;
}

/* line 285, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 286, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 290, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 303, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 307, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 311, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 315, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 318, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 324, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 328, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 333, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 336, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 340, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 344, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 347, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 350, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 353, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 356, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 360, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 366, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 370, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 373, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 378, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 381, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 408, ../sass/pages.scss */
#footer-wrapper {
  background-color: black;
  color: white;
}

/* line 413, ../sass/pages.scss */
#footer {
  width: 988px;
  margin: 0 auto;
  padding-top: 20px;
}
/* line 417, ../sass/pages.scss */
#footer .block {
  color: white;
  float: left;
  width: 306px;
}
/* line 421, ../sass/pages.scss */
#footer .block h2 {
  font: 36px/38px "CubanoRegular", sans-serif;
}
/* line 424, ../sass/pages.scss */
#footer .block a {
  color: white;
}

/*
 * Page bottom
 */
/* line 432, ../sass/pages.scss */
#bottom-wrapper {
  background-color: black;
  color: white;
}

/* line 437, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
  width: 988px;
  margin: 0 auto;
  border-top: 1px solid white;
  font: 13px/16px Verdana;
  color: darkgray;
}
/* line 443, ../sass/pages.scss */
.region-bottom a {
  color: white;
  font-weigth: bold;
  text-decoration: none;
}
/* line 448, ../sass/pages.scss */
.region-bottom p {
  margin: 4px 0 0;
}

/*
 * Programa do Festival
 */
/* line 457, ../sass/pages.scss */
.node-6.node-page .day, .node-6.node-page .bigday {
  width: 444px;
  float: left;
  clear: left;
  margin: 10px 0;
  background-color: #9dc9e2;
  padding: 5px 15px;
}
/* line 464, ../sass/pages.scss */
.node-6.node-page .day a, .node-6.node-page .bigday a {
  color: inherit;
}
/* line 466, ../sass/pages.scss */
.node-6.node-page .day a:hover, .node-6.node-page .bigday a:hover {
  color: #dd5e00;
}
/* line 467, ../sass/pages.scss */
.node-6.node-page .day a:visited, .node-6.node-page .bigday a:visited {
  color: inherit;
}
/* line 470, ../sass/pages.scss */
.node-6.node-page #day28 {
  clear: none;
}
/* line 471, ../sass/pages.scss */
.node-6.node-page #day29 {
  float: right;
  clear: none;
}
/* line 473, ../sass/pages.scss */
.node-6.node-page .bigday .daynumber {
  font: 49px/54px "CubanoRegular", sans-serif;
  color: white;
}
/* line 481, ../sass/pages.scss */
.node-6.node-page .day .daynumber {
  font: 39px/39px "CubanoRegular", sans-serif;
  color: white;
  float: left;
  margin: 0 10px 20px 0;
}
/* line 490, ../sass/pages.scss */
.node-6.node-page .black {
  color: black;
}
/* line 491, ../sass/pages.scss */
.node-6.node-page .white {
  color: white;
}
/* line 493, ../sass/pages.scss */
.node-6.node-page .bigband {
  font: 34px/36px "CubanoRegular", sans-serif;
  margin: 10px 0 0 0;
}
/* line 498, ../sass/pages.scss */
.node-6.node-page .band {
  font: 24px/28px "CubanoRegular", sans-serif;
}
/* line 502, ../sass/pages.scss */
.node-6.node-page .label {
  font: 13px/16px "CubanoRegular", sans-serif;
}
/* line 506, ../sass/pages.scss */
.node-6.node-page .feat {
  font: 16px/18px "CubanoRegular", sans-serif;
}
/* line 510, ../sass/pages.scss */
.node-6.node-page a {
  text-decoration: none;
}
