/**
 * @file
 * RTL companion for the tabs.css file.
 */
@font-face {
  font-family: 'CubanoRegular';
  src: url("fonts/cubano-regular-webfont.eot");
  src: url("fonts/cubano-regular-webfont.eot?#iefix") format("embedded-opentype");
  src: url("fonts/cubano-regular-webfont.woff") format("woff");
  src: url("fonts/cubano-regular-webfont.ttf") format("truetype");
  src: url("fonts/cubano-regular-webfont.svg#CubanoRegular") format("svg");
}

/* line 11, ../sass/tabs-rtl.scss */
ul.primary li,
ul.secondary li {
  float: right;
}

/* line 17, ../sass/tabs-rtl.scss */
ul.primary li {
  margin: 0.5em 3px 0 0;
}
