/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* line 48, ../sass/views-styles.scss */
.view-bilheteira .view-content {
  overflow: auto;
  width: 100%;
}
/* line 52, ../sass/views-styles.scss */
.view-bilheteira .views-row {
  background: #9dc9e2;
  float: left;
  padding: 15px;
  margin: 15px 15px 15px 0;
  width: 260px;
  height: 200px;
}
/* line 59, ../sass/views-styles.scss */
.view-bilheteira .views-row .views-field-title {
  font: 19px/22px "CubanoRegular", sans-serif;
}
/* line 62, ../sass/views-styles.scss */
.view-bilheteira .views-row .field-name-commerce-price {
  margin: 5px 0 0 0;
  font: 18px/22px "CubanoRegular", sans-serif;
  font-weight: bold;
  text-align: center;
}
/* line 69, ../sass/views-styles.scss */
.view-bilheteira .views-row ul.field-name-field-eventos {
  color: white;
  font: 16px/18px "CubanoRegular", sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  min-height: 100px;
}
/* line 76, ../sass/views-styles.scss */
.view-bilheteira .views-row ul.field-name-field-eventos li {
  margin-bottom: 4px;
}
/* line 81, ../sass/views-styles.scss */
.view-bilheteira .views-row-first {
  width: 330px;
}
/* line 84, ../sass/views-styles.scss */
.view-bilheteira .views-row-last {
  margin-right: 0;
}
/* line 89, ../sass/views-styles.scss */
.view-bilheteira .views-field-add-to-cart-form input.form-submit {
  padding: 5px;
  background: black;
  color: #e9f5fc;
  border: none;
}
/* line 96, ../sass/views-styles.scss */
.view-bilheteira .views-field-add-to-cart-form .form-item-quantity {
  margin: 0 10px 0 0;
  float: left;
}
/* line 99, ../sass/views-styles.scss */
.view-bilheteira .views-field-add-to-cart-form .form-item-quantity label {
  display: none;
}
/* line 100, ../sass/views-styles.scss */
.view-bilheteira .views-field-add-to-cart-form .form-item-quantity input {
  text-align: right;
  padding: 3px;
}

/* line 109, ../sass/views-styles.scss */
#block-commerce-cart-cart {
  margin: 0 0 15px 0;
  font-size: 14px;
}
/* line 112, ../sass/views-styles.scss */
#block-commerce-cart-cart table.views-table {
  width: 100%;
  font-weight: bold;
}
/* line 115, ../sass/views-styles.scss */
#block-commerce-cart-cart table.views-table tr {
  background-color: #9dc9e2;
  border-bottom: 1px solid black;
}
/* line 119, ../sass/views-styles.scss */
#block-commerce-cart-cart table.views-table a {
  color: black;
  text-decoration: none;
}
/* line 125, ../sass/views-styles.scss */
#block-commerce-cart-cart span.line-item-total-raw {
  font-weight: bold;
}
/* line 130, ../sass/views-styles.scss */
#block-commerce-cart-cart ul.links a {
  display: inline-block;
  color: #e9f5fc;
  background-color: black;
  text-decoration: none;
  padding: 4px;
}

/* line 141, ../sass/views-styles.scss */
form#commerce-checkout-form-checkout fieldset {
  border: none;
  background-color: #9dc9e2;
}
/* line 144, ../sass/views-styles.scss */
form#commerce-checkout-form-checkout fieldset legend {
  position: relative;
  top: 15px;
  font: 16px/18px "CubanoRegular", sans-serif;
}
/* line 150, ../sass/views-styles.scss */
form#commerce-checkout-form-checkout table.views-table {
  width: 100%;
  font-weight: bold;
}
/* line 151, ../sass/views-styles.scss */
form#commerce-checkout-form-checkout table.views-table thead > tr {
  background-color: none;
}
/* line 156, ../sass/views-styles.scss */
form#commerce-checkout-form-checkout table.views-table tbody > tr {
  background-color: #e9f5fc;
  border-bottom: 1px solid black;
}
/* line 160, ../sass/views-styles.scss */
form#commerce-checkout-form-checkout table.views-table a {
  color: black;
  text-decoration: none;
}
/* line 165, ../sass/views-styles.scss */
form#commerce-checkout-form-checkout tr.component-type-commerce-price-formatted-amount {
  background-color: #e9f5fc;
}
/* line 169, ../sass/views-styles.scss */
form#commerce-checkout-form-checkout span.button-operator {
  display: none;
}
/* line 173, ../sass/views-styles.scss */
form#commerce-checkout-form-checkout input.form-submit {
  padding: 5px;
  background: black;
  color: #e9f5fc;
  border: none;
  margin-right: 10px;
}

/* line 184, ../sass/views-styles.scss */
form#commerce-checkout-form-review fieldset {
  border: none;
  background-color: #9dc9e2;
}
/* line 187, ../sass/views-styles.scss */
form#commerce-checkout-form-review fieldset legend {
  position: relative;
  top: 15px;
  font: 16px/18px "CubanoRegular", sans-serif;
  margin: 0 0 15px 0;
}
/* line 196, ../sass/views-styles.scss */
form#commerce-checkout-form-review table.checkout-review tr.pane-title, form#commerce-checkout-form-review table.checkout-review tr.component-type-commerce-price-formatted-amount {
  background-color: #9dc9e2;
}
/* line 199, ../sass/views-styles.scss */
form#commerce-checkout-form-review table.checkout-review tr.pane-data {
  background-color: #e9f5fc;
}
/* line 202, ../sass/views-styles.scss */
form#commerce-checkout-form-review table.checkout-review td.views-field {
  background-color: #9dc9e2;
}
/* line 206, ../sass/views-styles.scss */
form#commerce-checkout-form-review input.form-submit {
  padding: 5px;
  background: black;
  color: #e9f5fc;
  border: none;
  margin-right: 10px;
}
/* line 214, ../sass/views-styles.scss */
form#commerce-checkout-form-review span.button-operator {
  display: none;
}
